<app-home></app-home>

<div class="card" style="margin-right: 15%;margin-top: 2%; margin-left: 15%;" >
  <div class="card-body">
      <h5 class="card-title" style="text-align: center;">Enter Stock Exchange Details</h5>

<form #addstockexchange="ngForm">

    <div class="form-group row"><label for="name" class="col-sm-2 col-form-label">Stock Exchange Name</label>
      <div class="col-sm-10">
      <input type="text" class="form-control" name="name" placeholder="Stock Exchange Name" #name="ngModel" [(ngModel)]="stockexchange.name">
    </div></div>
    <br/>
    <div class="form-group row"><label for="description" class="col-sm-2 col-form-label">Description</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="description" placeholder="Stock Exchange Description" #description="ngModel" [(ngModel)]="stockexchange.description">
      </div></div>
      <br/>
      <div class="form-group row"><label for="address" class="col-sm-2 col-form-label">Contact Address</label>
        <div class="col-sm-10">
        <input type="text" class="form-control" name="address" placeholder="Contact Address" #address="ngModel" [(ngModel)]="stockexchange.address">
      </div></div>
      <br/>
      <div class="form-group row"><label for="remarks" class="col-sm-2 col-form-label">Remarks</label>
        <div class="col-sm-10">
        <input type="text" class="form-control" name="remarks" placeholder="Remarks" #remarks="ngModel" [(ngModel)]="stockexchange.remarks">
      </div></div>
      <br/>
      <div *ngIf="!isEdit"><button type="submit" class="form-control btn btn-primary" value="submit" (click) =onClickSubmit(addstockexchange.value)>Submit</button></div>
      <div *ngIf="isEdit"><button type="submit" class="form-control btn btn-warning" value="submit" (click)= onClickUpdate(addstockexchange.value)>Update</button></div>
    
  </form>
</div>
</div>